[Unit]
Description=Ansible Pull - Synchronize Server Base Configuration
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# IMPORTANT: Replace the URL with your own repository
ExecStart=/usr/bin/ansible-pull \
    -U https://github.com/DEIN_ORG/server-config.git \
    -C main \
    -r requirements.yml \
    -i inventory.ini \
    --only-if-changed \
    site.yml
