# Managed by Ansible - manual changes will be overwritten
Port {{ ssh_port }}
X11Forwarding no
MaxAuthTries {{ ssh_max_auth_tries }}
ClientAliveInterval {{ ssh_client_alive_interval }}
ClientAliveCountMax {{ ssh_client_alive_count_max }}
Banner /etc/issue.net
